@use 'variables' as vars;

.details-container {
  max-width: 960px;
  margin: 0 auto;
  padding: vars.$spacing-6;
}

.details-header {
  background-color: var(--bg-secondary);
  border-radius: vars.$border-radius;
  border: 1px solid var(--border-color);
  padding: vars.$spacing-6;
  margin-bottom: vars.$spacing-8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: vars.$spacing-6;

  &__image {
    width: 64px;
    height: 64px;
  }

  &__info {
    h2 {
      font-size: vars.$font-size-2xl;
      font-weight: 700;
      margin: 0 0 vars.$spacing-1 0;
      span {
        color: var(--text-secondary);
        text-transform: uppercase;
      }
    }
    p {
      margin: 0;
      color: var(--text-primary);
      font-size: vars.$font-size-lg;
      &.market-cap {
        font-size: vars.$font-size-sm;
        color: var(--text-secondary);
      }
    }
  }
  button{
    width: 80%;
  }
}

.time-selector {
  display: flex;
  gap: vars.$spacing-2;
  margin-bottom: vars.$spacing-6;

  &__button {
    padding: vars.$spacing-2 vars.$spacing-4;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: vars.$transition;

    &--inactive {
      background-color: var(--border-color);
      color: var(--text-primary);
      &:hover {
        background-color: var(--primary-blue)-hover;
      }
    }
    &--active {
      background-color: var(--primary-blue);
      color: var(--text-primary);
      box-shadow: 0 4px 14px 0 rgba(var(--primary-blue), 0.39);
    }
  }
}


.about-section {
  background-color: var(--bg-secondary);
  padding: vars.$spacing-4;
  border-radius: vars.$border-radius;
  border: 1px solid var(--border-color);

  &__title {
    font-size: vars.$font-size-lg;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: vars.$spacing-2;
    color: var(--text-primary);
  }
  
  &__description {
    font-size: 0.875rem;
    color: var(--text-secondary);
    line-height: 1.5;
  }
}

.chart-container {
  position: relative;
  margin: 2rem 0;
  height: 400px; 
  
  canvas {
    width: 100% !important;
    height: 100% !important;
  }

  // Version mobile
  @media (max-width: 767px) {
    height: 500px !important;
    margin: 1.5rem 0;
    padding: 0.5rem;
  }
}

@media (max-width: 767px) {
  .details-header {
    flex-direction: column;
    text-align: center;
    
    &__image {
      margin-bottom: 1rem;
    }
    
    &__info {
      margin-bottom: 1rem;
      
      h2 {
        font-size: 1.5rem;
      }
      
      p {
        font-size: 0.9rem;
      }
    }
    
    &__actions {
      width: 100%;
      
      .btn {
        width: 100%;
        padding: 0.75rem;
      }
    }
  }
  
  .time-selector {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
    
    &__button {
      flex: 1;
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }
  }
  
  .about-section {
    &__title {
      font-size: 1.2rem;
    }
    
    &__description {
      font-size: 0.9rem;
      line-height: 1.5;
    }
  }

}