@use 'variables' as vars;

.details-container {
  max-width: 960px;
  margin: 0 auto;
  padding: vars.$spacing-6;
}

.details-header {
  background-color: var(--bg-secondary);
  border-radius: vars.$border-radius;
  border: 1px solid var(--border-color);
  padding: vars.$spacing-6;
  margin-bottom: vars.$spacing-8;
  display: flex;
  align-items: center;
  gap: vars.$spacing-6;

  &__image {
    width: 64px;
    height: 64px;
  }

  &__info {
    h2 {
      font-size: vars.$font-size-2xl;
      font-weight: 700;
      margin: 0 0 vars.$spacing-1 0;
      span {
        color: var(--text-secondary);
        text-transform: uppercase;
      }
    }
    p {
      margin: 0;
      color: var(--text-primary);
      font-size: vars.$font-size-lg;
      &.market-cap {
        font-size: 0.875rem;
        color: var(--text-secondary);
      }
    }
  }
}

.time-selector {
  display: flex;
  gap: vars.$spacing-2;
  margin-bottom: vars.$spacing-6;

  &__button {
    padding: vars.$spacing-2 vars.$spacing-4;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: vars.$transition;

    &--inactive {
      background-color: var(--border-color);
      color: var(--text-primary);
      &:hover {
        background-color: var(--primary-blue)-hover;
      }
    }
    &--active {
      background-color: var(--primary-blue);
      color: var(--text-primary);
      box-shadow: 0 4px 14px 0 rgba(var(--primary-blue), 0.39);
    }
  }
}

.chart-container {
  background-color: var(--bg-primary);
  padding: vars.$spacing-5;
  border-radius: vars.$border-radius;
  border: 1px solid var(--border-color);
  margin-bottom: vars.$spacing-6;
}

.about-section {
  background-color: var(--bg-secondary);
  padding: vars.$spacing-4;
  border-radius: vars.$border-radius;
  border: 1px solid var(--border-color);

  &__title {
    font-size: vars.$font-size-lg;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: vars.$spacing-2;
    color: var(--text-primary);
  }
  
  &__description {
    font-size: 0.875rem;
    color: var(--text-secondary);
    line-height: 1.5;
  }
}