@use 'variables' as vars;
@use 'mixins' as mx;

.home-container {
  margin: 0 auto;
  padding: vars.$spacing-10 vars.$spacing-6;

  &__title {
    font-size: vars.$font-size-3xl;
    font-weight: 700;
    margin-bottom: vars.$spacing-8;

    @include mx.respond-to('sm') {
      font-size: vars.$font-size-4xl;
    }
  }

  &__search-bar {
    width: 95%;
    padding: vars.$spacing-4 vars.$spacing-5;
    border-radius: vars.$border-radius;
    background-color: vars.$dark-bg-primary;
    color: vars.$text-light;
    border: 1px solid vars.$border-color;
    font-size: vars.$font-size-base;
    margin-bottom: vars.$spacing-8;
    transition: vars.$transition;

    &::placeholder {
      color: vars.$text-medium;
    }

    &:focus {
      outline: none;
      border-color: vars.$primary-blue;
      box-shadow: 0 0 0 2px vars.$primary-blue;
    }
  }

  &__grid {
    display: grid;
    gap: vars.$spacing-6;
    row-gap: 4rem;
    grid-template-columns: 1fr;

    @include mx.respond-to('sm') {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mx.respond-to('md') {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mx.respond-to('lg') {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}