@use 'variables';

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton {
  background-color: variables.$dark-bg-hover;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(variables.$text-medium, 0.1), transparent);
    animation: shimmer 1.5s infinite;
  }
}

.crypto-card-skeleton {
  background-color: variables.$dark-bg-secondary;
  padding: variables.$spacing-5;
  border-radius: variables.$border-radius;
  border: 1px solid variables.$border-color;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    gap: variables.$spacing-4;
    margin-bottom: variables.$spacing-4;
  }
  &__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__info {
    flex-grow: 1;
  }
  &__line {
    height: 1rem;
    margin-bottom: variables.$spacing-2;
    border-radius: 0.25rem;

    &--sm { width: 40%; }
    &--lg { width: 80%; }
  }
}